# Python bytecode
__pycache__/
*.py[cod]
*$py.class

postgres_data/

# Virtual environments
venv/
.venv/
env/
.env

# Django DB (dev)
*.sqlite3

# Logs
*.log

# Local media/static (dev)
media/
staticfiles/
static_root/

# OS / IDE files
.DS_Store
.vscode/
.idea/

# Git
.git/
.gitignore

# Test artifacts
.coverage
htmlcov/
.tox/
.pytest_cache/

# Node (if using frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
